/* CSS declarations go here */

.group {


}

.title {
  color: lightgrey;
  background: rgba(100,100,100,0.75);
}

.selected {
  color: white;
  background: black;
}

.hidden {
  display: none;
}

.logo {
  width: 100px;
  height: 100px;
  background-size: cover;
  /*text-align: center;*/
  vertical-align: bottom;
  display: inline-block;
}

#newGroupNameAndLogo {
  
}
